// main: ../matPlanlegger.scss

#leftNav {
  font-family: open_sansregular;
  flex: 0 0 160px;
  background-color: white;

  .fixedNav {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

#headerLogo {
  font-size: 16px;
  color: black;
  text-decoration: none;
  line-height: 22px;
  letter-spacing: 3px;
  padding: 5px;
  &:visited {
    text-decoration: none;
    color: black;
  }
  &:hover {
    text-decoration: none;
    color: $fontHoverColor;
  }
}
.headerActive {
  color: #006080 !important;
}
