// main: ../matPlanlegger.scss


// Generic components

%flexCenterChild {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.marginSquare {
  margin: 30px;
}

%closeBtn {
  $size: 18px;
  $offwall: 10px;
  font-size: 1.4rem;
  @extend %flexCenterChild;
  width: $size;
  height: $size;
  &:hover {
    color: $fontHoverColor;
  }
  cursor: pointer;
  position: absolute;
  top: $offwall;
  right: $offwall;
}

.fa-CloseBtn {
  @extend %closeBtn;
}
