// compileCompressed: ./$1.css

$backColor: white;
$subBackColor: none;
$hoverColor: white;
$fontColor: black;
$fontHoverColor: #008cba;

body,html {
  height: 100%;
  padding:0;
  margin:0;
}
html {
  min-width: 740px;
}

*:focus {
  outline: 0;
}

// Main Components
#root {
  height: 100%;
}

#mealWrapper {
  background-color: #c8c8c8;
  display: flex;
  min-height: 100%;

  #mainContent {
    flex-grow: 1;
    background-image: url('/images/confectionaryDark.png');
  }
}

@import "./scss/shared.scss";
@import "./scss/sidebar.scss";
@import "./scss/verticalnav.scss";
@import "./scss/uke/dagform.scss";
@import "./scss/uke/dag.scss";
