// main: ../../matPlanlegger.scss

.addDinner-IngredList {
  margin-bottom: 20px;
  &>div {
    cursor: move;
    margin-bottom: 5px;
    border-bottom: 1px dashed #AAA;
    position: relative;
    &>span.addDinner-IngredItemName {
      font-weight: bold;
      margin-right: 20px;
    }
    &>span.addDinner-IngredItemUnit {
      margin-right: 8px;
      text-transform: lowercase;
    }
    &>input.addDinner-IngredItemQuantity {
      font-weight: bold;
      background-color: transparent;
      border: none;
      width: 50px;
      height: 25px;
      margin-right: 10px;
    }
    &>span.addDinnerIngredItemMenu {
      position: absolute;
      right: 0;
      &>i {
        cursor: pointer;
        width: 25px;
        height: 24px;
        text-align: center;
        line-height: 23px;
        font-size: 18px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
