// main: ../../matPlanlegger.scss


#ShowDinner {
  display: flex;
  justify-content: center;
  position: relative;
  .showDinner-Separator {
    position: absolute;
    left: 0;
    width: 100%;
    height: 93px;
    border-bottom: 2px solid white;
  }
  .showDinner-Container {
    width: 90%;
    margin-top: 25px;

    .showDinner-Header {
      height: 250px;
      position: relative;
      margin-bottom: 20px;
      width: 100%;
      .showDinner-Image {
        position: relative;
        $imgWidth: 200px;
        $imgHeight: 200px;
        $imgBorder: 3px;
        &>img {
          height: $imgHeight;
          width: $imgWidth;
        }
        height: $imgHeight+2*$imgBorder;
        width: $imgWidth+2*$imgBorder;
        border: 3px solid white;
        position: relative;
        top: 25px;
        left: 25px;
        .showDinner-EditImgMenu {
          position: absolute;
          width: 100px;
          height: 40px;
          top: 80px;
          left: 50px;
          background-color: white;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 3px solid #CCC;
          &>button {
            border: none;
            background-color: transparent;
            &:hover {
              color: $fontHoverColor;
            }
          }
        }
      }
      .showDinner-Title {
        position: absolute;
        top: 35px;
        left: 250px;
        font-weight: bold;
        font-size: 2rem;
        button {
          background-color:rgba(0, 0, 0, 0);
          outline: none;
          border: none;
          margin-left: 10px;
          &:hover {
            color: $fontHoverColor;
          }
        }
        &>form {
          display: inline;
          &>input {
            background-color:rgba(255, 255, 255, 0.7);
            outline: none;
            border: none;
          }
        }
      }
      .showDinner-Description {
        position: absolute;
        top: 75px;
        left: 250px;
        width: 65%;
        button {
          background-color:rgba(0, 0, 0, 0);
          outline: none;
          border: none;
          margin-left: 10px;
          &:hover {
            color: $fontHoverColor;
          }
        }
        &>form {
          display: inline;
          &>textarea {
            background-color:rgba(255, 255, 255, 0.7);
            outline: none;
            border: none;
            height: 150px;
            width: 100%;
            resize: none;
            float:left;
          }
        }
      }
    }
    .showDinner-Ingreds {
      padding: 10px;
      margin-bottom: 50px;
      background-color: rgba(#ffffff, 0.6);
      &>h4 {
        margin-top: 0;
      }
      ul.showDinner-IngredList {
        margin-bottom: 0;
        padding-left: 30px;
        list-style-type: square;
        font-size: 1.3rem;
      }
    }
    .showDinner-Steps {
      padding: 10px;
      background-color: rgba(#ffffff, 0.6);
      margin-bottom: 20px;
      &>h4 {
        margin-bottom: 25px;
        margin-top: 0;
      }
      &>p {
        margin-bottom: 20px;
      }
    }
  }
}
