// compileCompressed: ../../client/$1.css

@import "./scss/shared.scss";

body,html {
  height: 100%;
  padding:0;
  margin:0;
}
html {
  min-width: 740px;
}

*:focus {
  outline: 0;
}

textarea {
  resize: vertical;
}

// Main Components
#root {
  height: 100%;
}

#mealWrapper {
  background-color: #c8c8c8;
  display: flex;
  min-height: 100%;

  #mainContent {
    flex-grow: 1;
    background-image: url('/images/confectionaryDark.png');
  }
}

@import "./scss/sidebar.scss";
@import "./scss/verticalnav.scss";
@import "./scss/uke/dagform.scss";
@import "./scss/uke/dag.scss";
@import "./scss/uke/chooseDinnerModal.scss";
@import "./scss/middag/middag.scss";
@import "./scss/ingrediens/ingredienser.scss";
@import "./scss/handleliste/handleliste.scss";
@import "./scss/reusable/reusable.scss";
